{{#block "header"}}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{#block "title"}}Welcome to the Idea Voter</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer"}}
</body>
</html>
{{/block}}